{% macro campo(name, placeholder, type="text") %}
    <div class="mb-3">
        <label for="{{ name }}" class="form-label">{{ name|capitalize }}:</label>
        <input 
            type="{{ type }}" 
            class="form-control" 
            id="{{ name }}" 
            name="{{ name }}" 
            placeholder="{{ placeholder }}" 
            required
        >
    </div>
{% endmacro %}

{% macro campoNuevo(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }} 
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li style="color: red;">{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}