{% extends "layout.html"%}

{% block content %}
<form class="form-control" action="" method="post">
    <div class="mb-3">
        <label for="n1" class="form-label">N1</label>
        <input type="text" class="form-control" id="n1" name="n1">
    </div>
    <div class="mb-3">
        <label for="n2" class="form-label">N2</label>
        <input type="text" class="form-control" id="n2" name="n2">
    </div>
    <button type="submit" class="btn btn-primary">Calcular</button>
</form>

<h1>Resultado: {{resultado}}</h1>


{% endblock %}