{% extends "layout.html" %}

{% block content %}
    {% import "_macros.html" as macro %}
                                                <!--Sirve para que no se validen los datos-->
    <form class="form-control" action="" method="post" novalidate>
        <h1>Formulario de Alumnos</h1>
        <!--Desde el macro se hace un campo y se guarda en el form.____-->
        {{macro.campoNuevo(form.matricula)}}
        {{macro.campoNuevo(form.nombre)}}
        {{macro.campoNuevo(form.apellido)}}
        {{macro.campoNuevo(form.correo)}}
        <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

        <h2>Matrícula: {{mat}}</h2>
        <h2>Nombre: {{nom}}</h2>
        <h2>Apellido: {{ape}}</h2>
        <h2>Email: {{em}}</h2>

{% endblock %}

