                    <div class="d-flex justify-content-center gap-3 mt-4">
                        <button type="submit" name="agregar" class="btn btn-success px-4">
                            Agregar
                        </button>
                        <button type="submit" name="quitar" class="btn btn-warning px-4">
                            Quitar
                        </button>
                        <button type="submit" name="terminar" class="btn btn-danger px-4">
                            Terminar
                        </button>
                    </div>